In [1]:
# The %... is an iPython thing, and is not part of the Python language.
# In this case we're just telling the plotting library to draw things on
# the notebook, instead of on a separate window.
%matplotlib inline
# See all the "as ..." contructs? They're just aliasing the package names.
# That way we can call methods like plt.plot() instead of matplotlib.pyplot.plot().
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [2]:
from sqlite3 import dbapi2 as sq3
import os
PATHSTART=''
def get_db(dbfile):
    sqlite_db=sq3.connect(os.path.join(PATHSTART,dbfile))
    return sqlite_db

In [4]:
help(sq3.connect)

Help on built-in function connect in module _sqlite3:

connect(...)
    connect(database[, timeout, detect_types, isolation_level,
            check_same_thread, factory, cached_statements, uri])

    Opens a connection to the SQLite database file *database*. You can use
    ":memory:" to open a database connection to a database that resides in
    RAM instead of on disk.

In [5]:
def ini_db(dbfile,schema):
    db=get_db(dbfile)
    db.cursor().executescript(schema)
    db.commit()
    return db

In [6]:
schema=pd.read_csv('.\candidates.txt',sep='|')
schema

    id   first_name   last_name middle_name party
0   33       Joseph       Biden         NaN     D
1   36       Samuel   Brownback         NaN     R
2   34      Hillary     Clinton          R.     D
3   39  Christopher        Dodd          J.     D
4   26         John     Edwards         NaN     D
5   22      Rudolph    Giuliani         NaN     R
6   24         Mike      Gravel         NaN     D
7   16         Mike    Huckabee         NaN     R
8   30       Duncan      Hunter         NaN     R
9   31       Dennis    Kucinich         NaN     D
10  37         John      McCain         NaN     R
11  20       Barack       Obama         NaN     D
12  32          Ron        Paul         NaN     R
13  29         Bill  Richardson         NaN     D
14  35         Mitt      Romney         NaN     R
15  38          Tom    Tancredo         NaN     R
16  41         Fred    Thompson          D.     R

In [7]:
dfcand=schema
dfcand

    id   first_name   last_name middle_name party
0   33       Joseph       Biden         NaN     D
1   36       Samuel   Brownback         NaN     R
2   34      Hillary     Clinton          R.     D
3   39  Christopher        Dodd          J.     D
4   26         John     Edwards         NaN     D
5   22      Rudolph    Giuliani         NaN     R
6   24         Mike      Gravel         NaN     D
7   16         Mike    Huckabee         NaN     R
8   30       Duncan      Hunter         NaN     R
9   31       Dennis    Kucinich         NaN     D
10  37         John      McCain         NaN     R
11  20       Barack       Obama         NaN     D
12  32          Ron        Paul         NaN     R
13  29         Bill  Richardson         NaN     D
14  35         Mitt      Romney         NaN     R
15  38          Tom    Tancredo         NaN     R
16  41         Fred    Thompson          D.     R

In [8]:
dfcwci=pd.read_csv('.\contributors_with_candidate_id.txt',sep='|')
dfcwci

     id    last_name first_name middle_name                      street_1   street_2             city state        zip  amount        date  candidate_id
0   NaN         Agee     Steven         NaN        549 Laurel Branch Road        NaN            Floyd    VA      24091   500.0  2007-06-30            16
1   NaN       Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566   250.0  2007-05-16            16
2   NaN       Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566    50.0  2007-06-18            16
3   NaN       Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566   100.0  2007-06-21            16
4   NaN         Akin    Charles         NaN        10187 Sugar Creek Road        NaN      Bentonville    AR      72712   100.0  2007-06-16            16
5   NaN         Akin       Mike         NaN              181 Baywood Lane        NaN       Monticello    AR      71655  1500.0  2007-05-18            16
6   NaN         Akin    Rebecca         NaN              181 Baywood Lane        NaN       Monticello    AR      71655   500.0  2007-05-18            16
7   NaN     Aldridge    Brittni         NaN  808 Capitol Square Place, SW        NaN       Washington    DC      20024   250.0  2007-06-06            16
8   NaN        Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860  1000.0  2007-06-11            16
9   NaN        Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860  1300.0  2007-06-29            16
10  NaN      Allison    John W.         NaN                 P.O. Box 1089        NaN           Conway    AR      72033  1000.0  2007-05-18            16
11  NaN      Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227  1000.0  2007-04-25            16
12  NaN      Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227   200.0  2007-06-12            16
13  NaN        Altes       R.D.         NaN               8600 Moody Road        NaN       Fort Smith    AR      72903  2300.0  2007-06-21            16
14  NaN       Andres       Dale         NaN          1160 Glen Oaks Drive        NaN  West Des Moines    IA      50266   250.0  2007-06-06            16
15  NaN      Anthony       John         NaN         211 Long Island Drive        NaN      Hot Springs    AR      71913  2300.0  2007-06-12            16
16  NaN     Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143   500.0  2007-04-08            16
17  NaN     Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143   100.0  2007-06-22            16
18  NaN        Ardle    William         NaN             412 Dakota Avenue        NaN      Springfield    OH      45504    50.0  2007-06-28            16
19  NaN         Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603  1000.0  2007-05-18            16
20  NaN         Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603  1000.0  2007-06-27            16
21  NaN        Baker      David         NaN        2550 Adamsbrooke Drive        NaN           Conway    AR      72034  2300.0  2007-04-11            16
22  NaN     Bancroft      David         NaN         2934 Broderick Street        NaN    San Francisco    CA      94123   250.0  2007-04-24            16
23  NaN        Banks    Charles         NaN               P.O. Box 251310        NaN      Little Rock    AR      72225  1000.0  2007-05-14            16
24  NaN       Barbee       John         NaN          516 Kellyridge Drive        NaN             Apex    NC      27502   500.0  2007-05-23            16
25  NaN      Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306    50.0  2007-07-30            20
26  NaN      Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306    25.0  2007-08-16            20
27  NaN     Buckheit      Bruce         NaN                 8904 KAREN DR        NaN          FAIRFAX    VA  220312731   100.0  2007-09-19            20
28  NaN       Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130  2300.0  2007-08-14            20
29  NaN       Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130 -2300.0  2007-08-14            20
..   ..          ...        ...         ...                           ...        ...              ...   ...        ...     ...         ...           ...
145 NaN      ABDELLA     THOMAS          M.   4231 MONUMENT WALL WAY #340        NaN          FAIRFAX    VA  220308440    50.0  2007-09-30            35
146 NaN       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269   100.0  2007-09-29            35
147 NaN       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269    50.0  2007-08-09            35
148 NaN       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946   100.0  2007-09-15            35
149 NaN       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946   100.0  2007-08-15            35
150 NaN       ABEDIN     ZAINUL         NaN         715 N. CENTRAL AVENUE  SUITE 212         GLENDALE    CA  912031164   500.0  2008-01-21            37
151 NaN       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326    75.0  2008-01-08            37
152 NaN       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326    50.0  2008-01-08            37
153 NaN       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551   200.0  2008-01-31            37
154 NaN       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551   100.0  2008-01-08            37
155 NaN       ABBOTT     ROBERT          A.               3061 LOREE ROAD        NaN      DECKERVILLE    MI  484279763   500.0  2008-01-21            37
156 NaN       ABBOTT       MIKE          E.              4516 OSPREY LNDG        NaN        NICEVILLE    FL  325786810  1000.0  2008-01-15            37
157 NaN        ABBOT      DAVID          M.               56 SALEM STREET        NaN          ANDOVER    MA   18102114   200.0  2008-01-21            37
158 NaN         ABBO    PAULINE     MORENCY              10720 JACOB LANE        NaN       WHITE LAKE    MI  483862274    35.0  2008-01-07            37
159 NaN        ABATE      MARIA       ELENA       1291 NIGHTINGALE AVENUE        NaN    MIAMI SPRINGS    FL  331663832  2600.0  2008-01-25            37
160 NaN        ABAIR      PETER         NaN               40 EVANS STREET        NaN        WATERTOWN    MA   24722150    25.0  2008-01-09            37
161 NaN    ABACHERLI    SHIRLEY          M.            29875 NEWPORT ROAD        NaN          MENIFEE    CA  925849524   150.0  2008-01-28            37
162 NaN       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   300.0  2008-01-30            37
163 NaN       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   410.0  2008-01-15            37
164 NaN       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   500.0  2008-01-09            37
165 NaN         ABEL       JOHN          H.             422 THOMAS STREET        NaN        BETHLEHEM    PA  180153316   200.0  2008-01-22            37
166 NaN         ABEL    MARLING          L.          14 HANGING MOSS LANE        NaN       GREENVILLE    SC  296155069   100.0  2008-01-22            37
167 NaN         ABEL    RUDOLPH         NaN              4532 OCEAN BLVD.      # 108         SARASOTA    FL  342421337   100.0  2008-01-08            37
168 NaN        ABELE     RODNEY         NaN  3620 METAIRIE HEIGHTS AVENUE        NaN         METAIRIE    LA  700021823   500.0  2008-01-15            37
169 NaN  ABERCROMBIE      DENIS         NaN            11811 WATER OAK CT        NaN         MAGNOLIA    TX  773546270   500.0  2008-01-30            37
170 NaN     ABESHAUS    MERRILL          M.        1801 N. HEREFORD DRIVE        NaN        FLAGSTAFF    AZ  860011121   120.0  2008-01-16            37
171 NaN      ABRAHAM     GEORGE         NaN                 P.O. BOX 1504        NaN     LAKE CHARLES    LA  706021504   800.0  2008-01-17            37
172 NaN   ABRAHAMSON      PETER          J.         1030 W. ROSCOE STREET        NaN          CHICAGO    IL  606572207    50.0  2008-01-25            37
173 NaN      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007  1000.0  2008-01-17            37
174 NaN      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007  1300.0  2008-01-30            37

[175 rows x 12 columns]

In [13]:
dfcwci.head()

  last_name first_name middle_name                street_1 street_2         city state    zip  amount        date  candidate_id
0      Agee     Steven         NaN  549 Laurel Branch Road      NaN        Floyd    VA  24091   500.0  2007-06-30            16
1    Ahrens        Don         NaN    4034 Rennellwood Way      NaN   Pleasanton    CA  94566   250.0  2007-05-16            16
2    Ahrens        Don         NaN    4034 Rennellwood Way      NaN   Pleasanton    CA  94566    50.0  2007-06-18            16
3    Ahrens        Don         NaN    4034 Rennellwood Way      NaN   Pleasanton    CA  94566   100.0  2007-06-21            16
4      Akin    Charles         NaN  10187 Sugar Creek Road      NaN  Bentonville    AR  72712   100.0  2007-06-16            16

In [16]:
ourschema="""
DROP TABLE IF EXISTS "candidates";
DROP TABLE IF EXISTS "contributors";
CREATE TABLE "candidates" (
    "id" INTEGER PRIMARY KEY  NOT NULL ,
    "first_name" VARCHAR,
    "last_name" VARCHAR,
    "middle_name" VARCHAR,
    "party" VARCHAR NOT NULL
);
CREATE TABLE "contributors" (
    "id" INTEGER PRIMARY KEY  AUTOINCREMENT  NOT NULL,
    "last_name" VARCHAR,
    "first_name" VARCHAR,
    "middle_name" VARCHAR,
    "street_1" VARCHAR,
    "street_2" VARCHAR,
    "city" VARCHAR,
    "state" VARCHAR,
    "zip" VARCHAR,
    "amount" INTEGER,
    "date" DATETIME,
    "candidate_id" INTEGER NOT NULL,
    FOREIGN KEY(candidate_id) REFERENCES candidates(id)
);
"""

In [17]:
db=ini_db('cancont.db',ourschema)

In [18]:
pd.to_sql?

Object `pd.to_sql` not found.

In [21]:
help(pd.DataFrame.to_sql)

Help on function to_sql in module pandas.core.generic:

to_sql(self, name, con, flavor=None, schema=None, if_exists='fail', index=True, index_label=None, chunksize=None, dtype=None)
    Write records stored in a DataFrame to a SQL database.

    Parameters
    ----------
    name : string
        Name of SQL table
    con : SQLAlchemy engine or DBAPI2 connection (legacy mode)
        Using SQLAlchemy makes it possible to use any DB supported by that
        library. If a DBAPI2 object, only sqlite3 is supported.
    flavor : 'sqlite', default None
        DEPRECATED: this parameter will be removed in a future version,
        as 'sqlite' is the only supported option if SQLAlchemy is not
        installed.
    schema : string, default None
        Specify the schema (if database flavor supports this). If None, use
        default schema.
    if_exists : {'fail', 'replace', 'append'}, default 'fail'
        - fail: If table exists, do nothing.
        - replace: If table exists, drop it, recreate it, and insert data.
        - append: If table exists, insert data. Create if does not exist.
    index : boolean, default True
        Write DataFrame index as a column.
    index_label : string or sequence, default None
        Column label for index column(s). If None is given (default) and
        `index` is True, then the index names are used.
        A sequence should be given if the DataFrame uses MultiIndex.
    chunksize : int, default None
        If not None, then rows will be written in batches of this size at a
        time.  If None, all rows will be written at once.
    dtype : dict of column name to SQL type, default None
        Optional specifying the datatype for columns. The SQL type should
        be a SQLAlchemy type, or a string for sqlite3 fallback connection.

In [22]:
dfcand.to_sql('candidates',db,if_exists='append',index=False)
dfcwci.to_sql('contributors',db,if_exists='append',index=False)

In [23]:
sel="""
SELECT * FROM candidates;
"""
c=db.cursor().execute(sel)

In [26]:
c.fetchall()

[(16, 'Mike', 'Huckabee', None, 'R'),
 (20, 'Barack', 'Obama', None, 'D'),
 (22, 'Rudolph', 'Giuliani', None, 'R'),
 (24, 'Mike', 'Gravel', None, 'D'),
 (26, 'John', 'Edwards', None, 'D'),
 (29, 'Bill', 'Richardson', None, 'D'),
 (30, 'Duncan', 'Hunter', None, 'R'),
 (31, 'Dennis', 'Kucinich', None, 'D'),
 (32, 'Ron', 'Paul', None, 'R'),
 (33, 'Joseph', 'Biden', None, 'D'),
 (34, 'Hillary', 'Clinton', 'R.', 'D'),
 (35, 'Mitt', 'Romney', None, 'R'),
 (36, 'Samuel', 'Brownback', None, 'R'),
 (37, 'John', 'McCain', None, 'R'),
 (38, 'Tom', 'Tancredo', None, 'R'),
 (39, 'Christopher', 'Dodd', 'J.', 'D'),
 (41, 'Fred', 'Thompson', 'D.', 'R')]